# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Sanity
schema.json

# Misc
.vercel
